In [1]:
import pandas as pd 

df = pd.read_csv('jobs.csv')

In [2]:
df.head(5)

,Unnamed: 0,Job Title,Company Name,Location,Salary Estimate,Rating,Job Description,size,founded,type,industry,sector,revenue
0,0,Data Scientist,Agama Solutions,"San Francisco, CA",$75.00 /hr (est.),3.8,Position Title: Data Scientist\n\nLocation: Ba...,51 to 200 Employees,Contract,Computer Hardware Development,Information Technology,$10 to $25 million (USD),-1
1,1,Entry Level Data Analyst (Part-time),CORMAC,Remote,$75.00 /hr (est.),3.4,HUB Zone residence is a requirement for this j...,Unknown,2002,Company - Private,Software Development,Information Technology,Less than $1 million (USD)
2,2,"Front End Engineer, MADS- Measurement and Data...",Amazon.com Services LLC,"Boulder, CO","$93,800 /yr (est.)",3.8,Professional non-internship experience with fr...,10000+ Employees,1994,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD)
3,3,Jr. Data Scientist,Net2Aspire LLC,Remote,"$82,500 /yr (est.)",-1.0, Apply Statistical and Machine Learning metho...,-1,-1,-1,-1,-1,-1
4,4,Healthcare Data Scientist,Humbi Health LLC,Remote,"$175,000 /yr (est.)",-1.0,Humbi Health is looking for highly analytical ...,-1,-1,-1,-1,-1,-1

### salary parsing

In [3]:
# crear una columna que salve si el salario es calculado por hora
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if '/hr' in x.lower() else 0)
df['hourly'].value_counts()

0    482
1     18
Name: hourly, dtype: int64

In [4]:
salary = df['Salary Estimate'].apply(lambda x: x.split('/')[0])
df['salary'] = salary.apply(lambda x: x.replace('$',''))
df['salary'].value_counts()

67,515      22
87,202      19
77,587      17
105,886     16
87,765      16
            ..
127,300      1
95,021       1
69,690       1
70,142       1
112,205      1
Name: salary, Length: 75, dtype: int64

In [5]:
df['job_state'] = df["Location"].apply(lambda x: x if "," not in x else x.split(',')[1])
df.job_state.value_counts()

Remote        95
 NY           77
 WA           74
 MA           54
 CO           37
 TX           23
 CA           20
 MD           17
 PA           15
 VA           13
 NC           12
Manhattan     11
 TN           10
 DC           10
 RI            7
 MI            6
 FL            5
 GA            3
 CT            3
 IL            1
 MO            1
 MN            1
California     1
Maryland       1
Illinois       1
 UT            1
 WI            1
Name: job_state, dtype: int64

In [8]:
df['job_state'] = df["job_state"].apply(lambda x: "MD" if x == "Maryland" else x)
df['job_state'] = df["job_state"].apply(lambda x: "CA" if x == "California" else x)
df['job_state'] = df["job_state"].apply(lambda x: "MNY" if x == "Manhattan" else x)
df['job_state'] = df["job_state"].apply(lambda x: "IL" if x == "Illinois" else x)
df['job_state'] = df['job_state'].apply(lambda x: x.strip())
df.job_state.value_counts()

Remote    95
NY        77
WA        74
MA        54
CO        37
TX        23
CA        21
MD        18
PA        15
VA        13
NC        12
MNY       11
DC        10
TN        10
RI         7
MI         6
FL         5
GA         3
CT         3
IL         2
MN         1
UT         1
WI         1
MO         1
Name: job_state, dtype: int64

In [9]:
#python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['python_yn'].value_counts()

0    476
1     24
Name: python_yn, dtype: int64

In [10]:
df['Java_yn'] = df['Job Description'].apply(lambda x: 1 if 'java' in x.lower() else 0)
df['Java_yn'].value_counts()

0    468
1     32
Name: Java_yn, dtype: int64

In [11]:
df['Rlang_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or \
                                                            'r-studio' in x.lower() or \
                                                            'rlang'in x.lower() or \
                                                            'r lang' in x.lower() else 0)
df['Rlang_yn'].value_counts()

0    500
Name: Rlang_yn, dtype: int64

In [12]:
df['JS_yn'] = df['Job Description'].apply(lambda x: 1 if 'javascript' in x.lower() else 0)
df['JS_yn'].value_counts()

0    478
1     22
Name: JS_yn, dtype: int64

In [13]:
df['SQL_yn'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
df['SQL_yn'].value_counts()

0    487
1     13
Name: SQL_yn, dtype: int64

In [14]:
df['Excel_yn'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['Excel_yn'].value_counts()

0    464
1     36
Name: Excel_yn, dtype: int64

In [15]:
df['Spark_yn'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['Spark_yn'].value_counts()

0    491
1      9
Name: Spark_yn, dtype: int64

In [16]:
df['AWS_yn'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['AWS_yn'].value_counts()

0    495
1      5
Name: AWS_yn, dtype: int64

In [17]:
df_out = df.drop(['Unnamed: 0'], axis =1)

In [18]:
df_out.to_csv('salary_data_cleaned.csv',index = False)