In [1]:
import pandas as pd 

df = pd.read_csv('jobs.csv')

In [2]:
df.head(5)

,Unnamed: 0,Job Title,Company Name,Location,Salary Estimate,Rating,Job Description,size,founded,type,industry,sector,revenue
0,0,Data Scientist,Agama Solutions,"San Francisco, CA",$75.00 /hr (est.),3.8,Position Title: Data Scientist\n\nLocation: Ba...,51 to 200 Employees,Contract,Computer Hardware Development,Information Technology,$10 to $25 million (USD),-1
1,1,Entry Level Data Analyst (Part-time),CORMAC,Remote,$75.00 /hr (est.),3.4,HUB Zone residence is a requirement for this j...,Unknown,2002,Company - Private,Software Development,Information Technology,Less than $1 million (USD)
2,2,"Front End Engineer, MADS- Measurement and Data...",Amazon.com Services LLC,"Boulder, CO","$93,800 /yr (est.)",3.8,Professional non-internship experience with fr...,10000+ Employees,1994,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD)
3,3,Jr. Data Scientist,Net2Aspire LLC,Remote,"$82,500 /yr (est.)",-1.0, Apply Statistical and Machine Learning metho...,-1,-1,-1,-1,-1,-1
4,4,Healthcare Data Scientist,Humbi Health LLC,Remote,"$175,000 /yr (est.)",-1.0,Humbi Health is looking for highly analytical ...,-1,-1,-1,-1,-1,-1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       500 non-null    int64
 1   Job Title        500 non-null    object
 2   Company Name     500 non-null    object
 3   Location         500 non-null    object
 4   Salary Estimate  500 non-null    object
 5   Rating           500 non-null    float64
 6   Job Description  500 non-null    object
 7   size             500 non-null    object
 8   founded          500 non-null    object
 9   type             500 non-null    object
 10  industry         500 non-null    object
 11  sector           500 non-null    object
 12  revenue          500 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 50.9+ KB

### salary parsing

In [4]:
# crear una columna que salve si el salario es calculado por hora
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if '/hr' in x.lower() else 0)
df['hourly'].value_counts()

0    482
1     18
Name: hourly, dtype: int64

In [5]:
df[df["hourly"]==1]

,Unnamed: 0,Job Title,Company Name,Location,Salary Estimate,Rating,Job Description,size,founded,type,industry,sector,revenue,hourly
0,0,Data Scientist,Agama Solutions,"San Francisco, CA",$75.00 /hr (est.),3.8,Position Title: Data Scientist\n\nLocation: Ba...,51 to 200 Employees,Contract,Computer Hardware Development,Information Technology,$10 to $25 million (USD),-1,1
1,1,Entry Level Data Analyst (Part-time),CORMAC,Remote,$75.00 /hr (est.),3.4,HUB Zone residence is a requirement for this j...,Unknown,2002,Company - Private,Software Development,Information Technology,Less than $1 million (USD),1
5,5,Data Engineer (aws),Brilliant Infotech,Remote,$52.50 /hr (est.),4.2,Title : Data Engineer\nDuration: 3+ months Con...,51 to 200 Employees,2007,Company - Private,Information Technology Support Services,Information Technology,$5 to $10 million (USD),1
8,8,Data Scientist,Workcog,Remote,$52.50 /hr (est.),4.5,IMMEDIATE OPENINGS ON Data Scientist\nRole: Da...,51 to 200 Employees,2017,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,1
21,21,Data Scientist,Gravity Tech Inc,Remote,$42.50 /hr (est.),-1.0,Position Title: Data Scientist II\nLocation: R...,-1,-1,-1,-1,-1,-1,1
53,53,Data Analyst,Brilliant Infotech,Remote,$67.50 /hr (est.),4.2,Position: Data Analyst\nDuration: 1 year+\nLoc...,51 to 200 Employees,2007,Company - Private,Information Technology Support Services,Information Technology,$5 to $10 million (USD),1
58,58,Data Mentor (Part-time),Pathrise,Remote,$45.00 /hr (est.),4.6,What is Pathrise?\nPathrise (YC W18) connects ...,51 to 200 Employees,2017,Company - Private,Education & Training Services,Education,$1 to $5 million (USD),1
102,102,Data Engineer,N9 IT Solutions Inc,Remote,$50.00 /hr (est.),-1.0,"Job description\nWe Are Looking Only H1B,CPT A...",-1,-1,-1,-1,-1,-1,1
106,106,Data Scientist,Moorecroft Systems,Remote,$45.00 /hr (est.),-1.0,The right opportunity to work with one of the ...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,-1,-1,-1,1
147,147,Data Scientist,Moorecroft Systems,Remote,$45.00 /hr (est.),-1.0,The right opportunity to work with one of the ...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,-1,-1,-1,1
148,148,Data Scientist,CriticalRiver Inc.,Remote,$45.00 /hr (est.),4.7,Pay Rates : USD 0-0//\nJob Code : CR2073\nData...,201 to 500 Employees,2014,Company - Private,Information Technology Support Services,Information Technology,$10 to $25 million (USD),1
149,149,Data Engineer,N9 IT Solutions Inc,Remote,$50.00 /hr (est.),-1.0,"Job description\nWe Are Looking Only H1B,CPT A...",-1,-1,-1,-1,-1,-1,1
263,263,Statistical Analyst,Judge Group,"San Francisco, CA",$67.50 /hr (est.),3.9,Title: Statistical Analyst\nLocation: San Fran...,1001 to 5000 Employees,1970,Company - Private,HR Consulting,Human Resources & Staffing,$100 to $500 million (USD),1
299,299,Statistical Analyst,Judge Group,"San Francisco, CA",$67.50 /hr (est.),3.9,Title: Statistical Analyst\nLocation: San Fran...,1001 to 5000 Employees,1970,Company - Private,HR Consulting,Human Resources & Staffing,$100 to $500 million (USD),1
463,463,Insight Curation Fellow,Compassion,Remote,$28.09 /hr (est.),4.3,Hiring Range: $24.97 - $31.21\nPLEASE NOTE: Th...,1001 to 5000 Employees,1952,Nonprofit Organization,Religious Institutions,Nonprofit & NGO,$500 million to $1 billion (USD),1
464,464,Entry Level Data Analyst (Part-time),CORMAC,Remote,$28.09 /hr (est.),3.4,HUB Zone residence is a requirement for this j...,Unknown,2002,Company - Private,Software Development,Information Technology,Less than $1 million (USD),1
480,480,Insight Curation Fellow,Compassion,Remote,$28.09 /hr (est.),4.3,Hiring Range: $24.97 - $31.21\nPLEASE NOTE: Th...,1001 to 5000 Employees,1952,Nonprofit Organization,Religious Institutions,Nonprofit & NGO,$500 million to $1 billion (USD),1
481,481,"Technical Writer, Google AI Programs",Google,"New York, NY",$28.09 /hr (est.),4.5,Note: By applying to this position you will ha...,10000+ Employees,1998,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),1

In [6]:
df = df.drop(df[df.hourly == 1].index)

In [7]:
df.head()

,Unnamed: 0,Job Title,Company Name,Location,Salary Estimate,Rating,Job Description,size,founded,type,industry,sector,revenue,hourly
2,2,"Front End Engineer, MADS- Measurement and Data...",Amazon.com Services LLC,"Boulder, CO","$93,800 /yr (est.)",3.8,Professional non-internship experience with fr...,10000+ Employees,1994,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),0
3,3,Jr. Data Scientist,Net2Aspire LLC,Remote,"$82,500 /yr (est.)",-1.0, Apply Statistical and Machine Learning metho...,-1,-1,-1,-1,-1,-1,0
4,4,Healthcare Data Scientist,Humbi Health LLC,Remote,"$175,000 /yr (est.)",-1.0,Humbi Health is looking for highly analytical ...,-1,-1,-1,-1,-1,-1,0
6,6,"CO-OP, DATA SCIENCE",PUMA,"Somerville, MA","$105,886 /yr (est.)",4.0,"INTERNS\nCO-OP, DATA SCIENCE\nSomerville, Mass...",10000+ Employees,1948,Company - Private,"Department, Clothing & Shoe Stores",Retail & Wholesale,$5 to $10 million (USD),0
7,7,Data Science Contractor,Rhythm Energy Inc,Remote,"$105,886 /yr (est.)",3.4,Data Science Contracting Opportunities\nAbout ...,1 to 50 Employees,Unknown,Unknown / Non-Applicable,-1,-1,-1,0

In [8]:
salary = df['Salary Estimate'].apply(lambda x: x.split('/')[0])
df['salary'] = salary.apply(lambda x: x.replace('$','').replace(",","") )
df['salary'] = pd.to_numeric(df['salary'])

df['salary'].value_counts()

67515      22
87202      19
77587      17
87765      16
105886     16
           ..
88274       1
70142       1
113592      1
108800      1
98818       1
Name: salary, Length: 68, dtype: int64

67515     22
87202     19
77587     17
87765     16
105886    16
          ..
88274      1
70142      1
113592     1
108800     1
98818      1
Name: salary, Length: 68, dtype: int64

In [10]:
df['job_state'] = df["Location"].apply(lambda x: x if "," not in x else x.split(',')[1])
df.job_state.value_counts()

Remote        81
 NY           76
 WA           74
 MA           54
 CO           37
 TX           23
 MD           17
 CA           17
 PA           15
 VA           13
 NC           12
Manhattan     11
 TN           10
 DC           10
 RI            7
 MI            6
 FL            5
 GA            3
 CT            3
 IL            1
 MO            1
California     1
 MN            1
Maryland       1
Illinois       1
 UT            1
 WI            1
Name: job_state, dtype: int64

In [11]:
df['job_state'] = df["job_state"].apply(lambda x: "MD" if x == "Maryland" else x)
df['job_state'] = df["job_state"].apply(lambda x: "CA" if x == "California" else x)
df['job_state'] = df["job_state"].apply(lambda x: "MNY" if x == "Manhattan" else x)
df['job_state'] = df["job_state"].apply(lambda x: "IL" if x == "Illinois" else x)
df['job_state'] = df['job_state'].apply(lambda x: x.strip())
df.job_state.value_counts()

Remote    81
NY        76
WA        74
MA        54
CO        37
TX        23
CA        18
MD        18
PA        15
VA        13
NC        12
MNY       11
DC        10
TN        10
RI         7
MI         6
FL         5
GA         3
CT         3
IL         2
MN         1
UT         1
WI         1
MO         1
Name: job_state, dtype: int64

In [16]:
#python

data_science_skills_list = ["python","java", "javascript", "sql", "excel", "spark", "aws", "azure" ]
for skill in data_science_skills_list:
   df[skill] =  df['Job Description'].apply(lambda x: 1 if skill in x.lower() else 0)
   print(f"skill : {skill}", )
   print(df[skill].value_counts())
   print("________________________________")

skill : python
0    459
1     23
Name: python, dtype: int64
________________________________
skill : java
0    450
1     32
Name: java, dtype: int64
________________________________
skill : javascript
0    460
1     22
Name: javascript, dtype: int64
________________________________
skill : sql
0    469
1     13
Name: sql, dtype: int64
________________________________
skill : excel
0    446
1     36
Name: excel, dtype: int64
________________________________
skill : spark
0    473
1      9
Name: spark, dtype: int64
________________________________
skill : aws
0    477
1      5
Name: aws, dtype: int64
________________________________
skill : azure
0    454
1     28
Name: azure, dtype: int64
________________________________

In [18]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'sr.' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower() or 'junior' in title.lower():
        return 'jr'
    else:
        return 'na'

In [19]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)
df['job_simp'].value_counts()

na                236
data scientist    139
analyst            76
data engineer      22
mle                 9
Name: job_simp, dtype: int64

In [20]:
df['seniority'] = df['Job Title'].apply(seniority)
df.seniority.value_counts()

na    384
jr     98
Name: seniority, dtype: int64

In [22]:
#  Job description length 
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))
df['desc_len']

2      2108
3       855
4      1157
6       494
7       863
       ...
495    1221
496     957
497     639
498     915
499    1536
Name: desc_len, Length: 482, dtype: int64

In [25]:
df_out = df.drop(['Unnamed: 0', 'Location','Salary Estimate',"hourly"], axis =1)
df_out.head()

,Job Title,Company Name,Rating,Job Description,size,founded,type,industry,sector,revenue,...,java,javascript,sql,excel,spark,aws,azure,job_simp,seniority,desc_len
2,"Front End Engineer, MADS- Measurement and Data...",Amazon.com Services LLC,3.8,Professional non-internship experience with fr...,10000+ Employees,1994,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),...,1,1,0,0,0,0,0,na,na,2108
3,Jr. Data Scientist,Net2Aspire LLC,-1.0, Apply Statistical and Machine Learning metho...,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,data scientist,jr,855
4,Healthcare Data Scientist,Humbi Health LLC,-1.0,Humbi Health is looking for highly analytical ...,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,data scientist,na,1157
6,"CO-OP, DATA SCIENCE",PUMA,4.0,"INTERNS\nCO-OP, DATA SCIENCE\nSomerville, Mass...",10000+ Employees,1948,Company - Private,"Department, Clothing & Shoe Stores",Retail & Wholesale,$5 to $10 million (USD),...,0,0,0,0,0,0,0,na,na,494
7,Data Science Contractor,Rhythm Energy Inc,3.4,Data Science Contracting Opportunities\nAbout ...,1 to 50 Employees,Unknown,Unknown / Non-Applicable,-1,-1,-1,...,0,0,0,1,0,0,0,na,na,863

In [26]:
df_out.describe()

,Rating,salary,python,java,javascript,sql,excel,spark,aws,azure,desc_len
count,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000
mean,3.486722,89430.319502,0.047718,0.066390,0.045643,0.026971,0.074689,0.018672,0.010373,0.058091,1108.912863
std,1.452144,22930.118152,0.213390,0.249221,0.208927,0.162167,0.263162,0.135505,0.101426,0.234159,623.963277
min,-1.000000,37070.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,149.000000
25%,3.600000,75000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,718.500000
50%,3.900000,88607.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1063.000000
75%,4.200000,105886.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1350.000000
max,5.000000,175000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4608.000000

In [28]:
df_out.to_csv('salary_data_cleaned.csv',index = False)